@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --font-color:#5D5D7D;
    --project-color:#9499EA;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left{
    width: 65%;
    margin-left: 134px;
    margin-top: 173px;
}

.container-right {
    background-color: rgb(148,153,234,0.16);
    height: 100vh;
    width: 35%;
}

.container-right a:nth-child(2) {
    color: rgb(93, 93, 125,0.4);
}

.container-right a {
    color: rgb(93, 93, 125);
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    margin-left: 54px;
    margin-top: 30px;
}
.container-right a:hover {
    color: rgb(93, 93, 125, 0.8);
}
header {
    margin-top: 30px;
}

.container-right img {
    position: relative;
    top: 191px;
    right: 141px;
}

.container-left h1 {
    color: var(--font-color);
    font-weight: 400;
    font-size: 60px;
    width: 350px;
    
}

.container-left p {
    color: rgb(93, 93, 125,0.8);
    font-weight: 400;
    font-size: 24px;
    width: 650px;
    text-align: justify;
}
button {
    color: #fff;
    background-color: var(--project-color);
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(148,153,234,0.16);
    color: #232329;
}
button:active {
    background-color: rgb(148,153,234,0.1);
    color: #232329;
    border: 1px solid #232329;
}

@media screen and (max-width:900px) {
    .container {
        display: block;
    }
    .container-left {
        width: 100%;
        margin: auto;
    }
    .container-left h1 {
        display: block;
        text-align: center;
        margin: -160px auto 0px;
        font-size: 50px;
        width: 300px;
    }
    .container-left p {
        font-size: 1.2rem;
        width: auto;
        text-align: center;
        margin: 0px 10px;
    }
    .container-right{
        height: 50vh;
        width: 100vw;
        display: block;
    }
    .container-right img {
        max-width: 90%;
        height: 40vh;
        position: initial;
        margin: 10px 10px 0px 60px;
        left: 10px;
    
    }
    header {
        display: none;
    }
    button {
        display: block;
        margin: 3% auto;
    }
}